<h2>Chat</h2>

<div class="chat-box">
  <% messages.forEach(msg => { %>
    <div class="<%= msg.sender == userId ? 'sent' : 'received' %>">
      <p><%= msg.text %></p>
    </div>
  <% }) %>
</div>

<form action="/messages/send" method="POST">
  <input type="hidden" name="receiverId" value="<%= otherUser %>" />
  <input type="text" name="text" placeholder="Type message..." required />
  <button type="submit">Send</button>
</form>