<h2>Your Message</h2>
<%if(chats.length===0){%>
<p>No conversations yet!</p>
<%}%>
<% chats.forEach(chat => { %>
    <div class="chat-preview">
        <a href="/messages/<%= chat.user._id %>">
            <h4><%= chat.user.username %></h4>
            <p><%= chat.lastMessage %></p>
        </a>
    </div>
<% }) %>